In [19]:
import pandas as pd
from urllib.request import urlopen
import warnings
import csv
warnings.filterwarnings("ignore")

In [20]:
ibrxdia = pd.read_csv("IBXXDia_29-07-22.csv", encoding="cp1252", sep = ';',skiprows=1)
ibrxdia = ibrxdia.index
ibrxdia = list(ibrxdia)
#Filtra apenas tickers
ibrxdia = [w for w in ibrxdia if w.isupper()]
ibrxdia
#Renomear
ibrxmes = ibrxdia
ibrxmes

['RRRP3',
 'ALPA4',
 'ABEV3',
 'AMER3',
 'ARZZ3',
 'ASAI3',
 'AURE3',
 'AZUL4',
 'B3SA3',
 'BPAN4',
 'BBSE3',
 'BRML3',
 'BBDC3',
 'BBDC4',
 'BRAP4',
 'BBAS3',
 'BRKM5',
 'BRFS3',
 'BPAC11',
 'CRFB3',
 'CCRO3',
 'CMIG4',
 'CIEL3',
 'COGN3',
 'CPLE6',
 'CSAN3',
 'CPFE3',
 'CMIN3',
 'CVCB3',
 'CYRE3',
 'DXCO3',
 'ECOR3',
 'ELET3',
 'ELET6',
 'EMBR3',
 'ENBR3',
 'ENGI11',
 'ENEV3',
 'EGIE3',
 'EQTL3',
 'EZTC3',
 'FLRY3',
 'GGBR4',
 'GOAU4',
 'GOLL4',
 'NTCO3',
 'SOMA3',
 'HAPV3',
 'HYPE3',
 'IGTI11',
 'IRBR3',
 'ITSA4',
 'ITUB4',
 'JBSS3',
 'KLBN11',
 'RENT3',
 'LWSA3',
 'AMAR3',
 'LREN3',
 'MGLU3',
 'MRFG3',
 'CASH3',
 'BEEF3',
 'MOVI3',
 'MRVE3',
 'MULT3',
 'PCAR3',
 'PETR3',
 'PETR4',
 'PRIO3',
 'PETZ3',
 'PSSA3',
 'POSI3',
 'QUAL3',
 'RADL3',
 'RAIZ4',
 'RDOR3',
 'RAIL3',
 'SBSP3',
 'SANB11',
 'STBP3',
 'SMTO3',
 'CSNA3',
 'SLCE3',
 'SULA11',
 'SUZB3',
 'TAEE11',
 'VIVT3',
 'TIMS3',
 'TOTS3',
 'UGPA3',
 'USIM5',
 'VALE3',
 'VIIA3',
 'VBBR3',
 'WEGE3',
 'WIZS3',
 'YDUQ3']

In [21]:
len(ibrxmes)

98

In [22]:
ibrx =pd.read_excel("ibrx.xlsx", sheet_name='Sheet1', index_col='Data')
#ibrx.T.index.unique()

In [23]:
todosativos = ibrx.T.index.unique()
#todosativos

In [24]:
#verifica se há empresa nova no IBRX?
print(list(set(ibrx) - set(todosativos)) == [])
print(len(list(set(todosativos) - set(ibrx))) + len(set(ibrx)) == len(list(set(todosativos))))
#True = Não!
#False = sim!

True
True

In [25]:
#CRIA UMA COLUNA NOVA PARA A EMPRESA SE ELA NÃO EXISTE
novaempresa = list(set(ibrxmes) - set(todosativos))
ibrxnova = ibrx
for i in novaempresa:
    ibrxnova[i] = 0
    
#ibrxnova[novaempresa]

In [26]:
#LENDO O DIA NA PRIMEIRA LINHA DO ARQUIVO

with open("IBXXDia_29-07-22.csv", encoding="cp1252") as csv_file:
    data=csv.reader(csv_file)
    for row in list(data)[0:1]:
        dia = row
        
dia = str(dia)
dia = dia[25:33]
dia = dia.replace('22','2022')

hoje = dia
dia

'29/07/2022'

In [27]:
#INSERE 1 NAS EMPRESAS DO IBRX NOVO
z = ibrxnova.T


z[hoje] = 0
z
for i in ibrxmes:
    z[hoje].T[i] = 1


z = z.T
z

,ABEV3,AMBV4,ABYA3,ACES3,ACES4,ACGU3,AEDU3,AELP3,AGEI3,AGIN3,...,IGTI11,RRRP3,CMIN3,STBP3,AURE3,TEND3-old,RAIZ4,CBAV3,AMBP3,VAMO3
Data,,,,,,,,,,,,,,,,,,,,,
2001-12-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-01-31,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-02-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-03-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-04-30,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2022-04-29,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2022-05-31,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0
2022-06-30,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0
2022-07-29,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0

In [17]:
z.to_excel('ibrx.xlsx')

In [18]:
z

,ABEV3,AMBV4,ABYA3,ACES3,ACES4,ACGU3,AEDU3,AELP3,AGEI3,AGIN3,...,IGTI11,RRRP3,CMIN3,STBP3,AURE3,TEND3-old,RAIZ4,CBAV3,AMBP3,VAMO3
Data,,,,,,,,,,,,,,,,,,,,,
2001-12-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-01-31,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-02-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-03-28,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2002-04-30,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2022-04-29,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2022-05-31,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0
2022-06-30,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0
2022-07-29,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,0,0,0